<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Host ID Automation">
  <!-- 
  <listeners>
  	<listener class-name="com.HostID.Automation.RetryAnalyzer.TransformAnnotation"/>
  </listeners>   -->
  
  <test name="HostID_LoginPage_Validations">
    <classes>
      <class name="com.HostID.Automation.TestCases.HostID_LoginPage_Validations"/>
    </classes>
  </test>
    
   <test name = "FinancialInstitution_Creation_And_Validations">
  	<classes>
      <class name="com.HostID.Automation.TestCases.HostID_FinancialInstitution_Creation_And_Validations"/>
    </classes>
  </test>
  
  <test name = "HostID_FI_Manager_AccessControl_Validation">
  	<classes>
      <class name="com.HostID.Automation.TestCases.HostID_FI_Manager_AccessControl_Validation"/>
    </classes>
  </test> 
    
</suite> <!-- Suite -->